[graph]
# If true, metadata will be collected with `--all-features`. Note that this can't
# be toggled off if true, if you want to conditionally enable `--all-features` it
# is recommended to pass `--all-features` on the cmd line instead
all-features = true

# The output table provides options for how/if diagnostics are outputted
[output]
feature-depth = 1

[advisories]
db-urls = [ "https://github.com/rustsec/advisory-db",]
ignore = [
  # `pyo3-stub-gen` uses `rustpython-parser` which uses `rust-unic` crates, which are now unmaintained.
  # Hopefully `pyo3-stub-gen` will switch to `ruff_python_parser`: https://github.com/Jij-Inc/pyo3-stub-gen/issues/359
  # We'll ignore it for now, since `pyo3-stub-gen` is effectively a build-time dependency anyway. 
  { id = "RUSTSEC-2025-0075", reason = "rust-unic is unmaintained, but a transitive dependency of pyo3-stub-gen" },
  { id = "RUSTSEC-2025-0080", reason = "rust-unic is unmaintained, but a transitive dependency of pyo3-stub-gen" },
  { id = "RUSTSEC-2025-0081", reason = "rust-unic is unmaintained, but a transitive dependency of pyo3-stub-gen" },
  { id = "RUSTSEC-2025-0098", reason = "rust-unic is unmaintained, but a transitive dependency of pyo3-stub-gen" },
  { id = "RUSTSEC-2025-0090", reason = "rust-unic is unmaintained, but a transitive dependency of pyo3-stub-gen" },
  { id = "RUSTSEC-2025-0100", reason = "rust-unic is unmaintained, but a transitive dependency of pyo3-stub-gen" },
]

[licenses]
unused-allowed-license = "allow"
allow = [
  "Apache-2.0 WITH LLVM-exception",
  "Apache-2.0",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "BSL-1.0",
  "CC0-1.0",
  "ISC",
  "MIT",
  "OpenSSL",
  "Unicode-3.0",
  "Unicode-DFS-2016",
  "Zlib",
]
confidence-threshold = 0.8

[[licenses.clarify]]
name = "ring"
version = "*"
expression = "MIT AND ISC AND OpenSSL"
[[licenses.clarify.license-files]]
path = "LICENSE"
hash = 3171872035
[[licenses.clarify]]
name = "encoding_rs"
version = "*"
expression = "(Apache-2.0 OR MIT) AND BSD-3-Clause"
[[licenses.clarify.license-files]]
path = "COPYRIGHT"
hash = 972598577

[licenses.private]
# If true, ignores workspace crates that aren't published, or are only
# published to private registries.
# To see how to mark a crate as unpublished (to the official registry),
# visit https://doc.rust-lang.org/cargo/reference/manifest.html#the-publish-field.
ignore = true
registries = []

[bans]
# Lint level for when multiple versions of the same crate are detected
multiple-versions = "warn"
# Lint level for when a crate version requirement is `*`
wildcards = "deny"
highlight = "all"
workspace-default-features = "allow"
external-default-features = "allow"
# List of crates that are allowed. Use with care!
allow = [
]
deny = [
]

# Certain crates/versions that will be skipped when doing duplicate detection.
skip = [
    { crate = "itertools", reason = "pyo3-stub-gen depends on rustpython-parser and numpy, and each use a different version" },
    { crate = "rustc-hash", reason = "pyo3-stub-gen depends on rustpython-parser and numpy, and each use a different version" },
]
# Similarly to `skip` allows you to skip certain crates during duplicate
# detection. Unlike skip, it also includes the entire tree of transitive
# dependencies starting at the specified crate, up to a certain depth, which is
# by default infinite.
skip-tree = [
]

[[bans.features]]
  # This feature is being deprecated in favor of build tooling (particularly, maturin).
  crate = "pyo3"
  deny = ["extension-module"]


# This section is considered when running `cargo deny check sources`.
# More documentation about the 'sources' section can be found here:
# https://embarkstudios.github.io/cargo-deny/checks/sources/cfg.html
[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []
