[packages.rigetti-pyo3]
versioned_files = ["rigetti-pyo3/Cargo.toml", "Cargo.lock"]
changelog = "rigetti-pyo3/CHANGELOG.md"
scopes = ["rigetti-pyo3"]

[packages.optipy]
versioned_files = ["optipy/Cargo.toml", "Cargo.lock"]
changelog = "optipy/CHANGELOG.md"
scopes = ["optipy"]

[[workflows]]
name = "release"

[[workflows.steps]]
type = "PrepareRelease"

[[workflows.steps]]
type = "Command"
command = "git commit -m \"chore: prepare release [skip ci]\""

[[workflows.steps]]
type = "Command"
command = "git push"

[[workflows.steps]]
type = "Release"

[github]
owner = "rigetti"
repo = "rigetti-pyo3"
