name: Rust Check

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Run Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@cargo-hack
      - uses: taiki-e/install-action@cargo-deny
      - uses: taiki-e/install-action@cargo-make

      - name: Check Formatting
        run: cargo fmt --all -- --check

      - name: Run cargo deny
        run: cargo make deny

      - name: Run Clippy
        run: cargo make clippy

  deadlinks:
    name: Cargo Deadlinks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@cargo-make
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-deadlinks
      - run: cargo make --cwd rigetti-pyo3 deadlinks

  msrv:
    name: Cargo MSRV
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@cargo-hack
      - uses: taiki-e/install-action@cargo-make
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-msrv
      - run: cargo make --cwd rigetti-pyo3 msrv-verify

  test:
    name: Cargo Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@cargo-hack
      - uses: taiki-e/install-action@cargo-make
      - run: cargo make test
